<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>New Product</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body style="background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
<br><br><br><br>
      <div class="container text-center" style="background-color:white;width:650px;height:500px;">
          <br><br>
          <div>
              <h1>Adauga produs</h1>
              <br>
          </div>

          <form th:action="@{/products/save}" method="post" style="max-width:600px;margin:0 auto;"  th:object="${product}" >
              <div class="m-3">
                       <div class="form-group row">
                           <label class="col-form-label col-4">Nume</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{name}" required />
                            </div>
                       </div>
                       <br>

                       <div class="form-group row">
                             <label class="col-form-label col-4">Pret</label>
                             <div class="col-8">
                             <input type="text" class="form-control" th:field="*{price}" required />
                             </div>
                       </div>
                       <br>

                       <div class="form-group row">
                           <label class="col-form-label col-4">Categorie</label>
                           <div class="col-8">
                              <input type="text" class="form-control" th:field="*{categorie}" required />
                           </div>
                       </div>
                       <br>
                       <div class="form-group row">
                             <label class="col-form-label col-4">Ingrediente</label>
                             <div class="col-8">
                                   <div class="col-8">
                                          <th:block th:each="ingredient : ${listIngredients}">
                                              <input type="checkbox" th:field="*{ingredients}"
                                                th:value="${ingredient.id}" th:text="${ingredient.name}"
                                                class="m-2" />
                                     </th:block>
                                 </div>
                             </div>
                  </div>

                       <br>
                       <div>
                           <button type="submit" class="btn btn-primary">Salveaza</button>
                           <br><br>
                       </div>


              </div>

          </form>




      </div>
</body>
</html>