<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>New Category</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body style="background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
<br><br><br><br>
      <div class="container text-center" style="background-color:white;width:650px;height:400px;">
          <br><br>
          <div>
              <h1>Adauga categorie</h1>
              <br><br>
          </div>

          <form th:action="@{/saveCategory}" method="post" style="max-width:600px;margin:0 auto;"  th:object="${category}" >
              <div class="m-3">
                       <div class="form-group row">
                           <label class="col-form-label col-4">Nume</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{name}" required />
                            </div>
                       </div>
                       <br>
                       <div>
                           <button type="submit" class="btn btn-primary">Salveaza</button>
                           <br><br>
                       </div>


              </div>

          </form>




      </div>
</body>
</html>