<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registration Succeeded</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body style="background: rgb(140,250,247);
background: radial-gradient(circle, rgba(140,250,247,1) 28%, rgba(128,141,255,1) 63%);">
      <br><br><br><br><br><br>
      <div class="container text-center" >

          <div>
              <h3>You have register succesfully !</h3>
              <h4><a th:href="@{/login}">Back</a></h4>
          </div>

      </div>
</body>
</html>