<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body style="background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
<br><br><br><br>
      <div class="container text-center" style="background-color:white;width:650px;height:550px;">
          <br><br>
          <div>
              <h1>Register now...</h1>
              <br><br>
          </div>

          <form th:action="@{/process_register}" method="post" style="max-width:600px;margin:0 auto;"  th:object="${user}" >
              <div class="m-3">
                       <div class="form-group row">
                           <label class="col-form-label col-4">Email</label>
                            <div class="col-8">
                                <input type="email" class="form-control" th:field="*{email}" required />
                            </div>
                       </div>
                       <br>
                       <div class="form-group row">
                             <label class="col-form-label col-4">Password</label>
                             <div class="col-8">
                                 <input type="password" class="form-control" th:field="*{password}" required minlength="6" maxlength="10" />
                             </div>
                       </div>
                       <br>
                       <div class="form-group row">
                             <label class="col-form-label col-4">First Name</label>
                             <div class="col-8">
                                  <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="20"/>
                             </div>
                       </div>
                       <br>
                       <div class="form-group row">
                             <label class="col-form-label col-4">Last Name</label>
                             <div class="col-8">
                                  <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="20" />
                             </div>
                       </div>
                       <br>
                       <div class="form-group row">
                            <label class="col-form-label col-4">Masa</label>
                            <div class="col-8">
                                  <input type="text" class="form-control" th:field="*{masa}" required minlength="1" maxlength="3" />
                            </div>
                       </div>
                        <br>
                       <div>
                           <button type="submit" class="btn btn-primary">Register</button>
                           <br><br>
                       </div>


              </div>

          </form>




      </div>
</body>
</html>